<h1>중고나라에 오신 걸 환영합니다!</h1>
<table>
    <thead>
    <tr>
        <th><%= link_to '거래하기', "index"  %></th>
    </tr>
    </thead>
<div>
    <img src="http://cfile8.uf.tistory.com/image/223AE849555060DE0CE7D8">
</div>